Options -Indexes

DirectoryIndex inicio.php

AddType application/manifest+json .webmanifest

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^api/(.*)$ api/inicio.php [QSA,L]
  RewriteRule ^$ inicio.php [L]
</IfModule>
